*.kpf
*.pyc
*.beam
*.o
*.so
build/*
^build$
Emakefile
coverage
coverage/*
erl_crash.dump
deps/*
test/logs/
*/logs/*
logs/
ebin/erlxsl_app.erl
ebin/erlxsl_fast_log.erl
ebin/erlxsl_marshall.erl
ebin/erlxsl_port_server.erl
ebin/erlxsl_sup.erl
.komodotools
MyProject.komodoproject
inttest/spec/all_specs.c
c_src/cscope.outcscope.out
*.swp
**/*.swp
inttest/deps/cspec
inttest/bin/all_specserlxsl.komodoproject
.komodotools/
inttest/bin/all_specs
priv/test/bin/test_harness